/* import style external files files  */
@import "../assets/styles/_fonts.css";
@import "../assets/styles/_variables.css";

@import "./assets/styles/_fonts.css";
@import "./assets/styles/_variables.css";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
     font-family: var(--axiforma-regular);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
div {
     overflow-y: hidden;
}
.text-end {
     text-align: end;
}

// contants style
a {
     text-decoration: none !important;
}
ul {
     list-style: none !important;
}
button {
     outline: none;
     border: none;
     font-family: var(--axiforma-regular) !important;
}
.button {
     padding: 0.6rem 2rem;
     padding-top: 0.7rem;
     background: var(--secondary);
     color: var(--main) !important;
     font-size: 14px;
     cursor: pointer;
     a {
          color: var(--main) !important;
     }
}
.main-heding {
     font-size: 60px;
     font-weight: 700;
}
h6 {
     color: var(--pure) !important;
     font-size: 24px !important;
     letter-spacing: 0.6px;
     font-weight: 700;
}

.sub-heading {
     font-size: 2.5rem;
}
.container {
     max-width: 90% !important;
     width: 100% !important;
     margin: 0 auto;
}

.ml-8-per {
     padding-left: 8%;
}
figure {
     margin: 0;
}
.btn-dark {
     background: var(--main);
     color: var(--pure) !important;
}
// .slick-track{
//      width: auto !important;
// }
// xx contants style xx

header {
     nav {
          background: var(--main);
          padding: 1rem 0 !important;
          .navbar-toggler {
               background: var(--pure) !important;
               padding: 6px;
               outline: none;
               border: none;
               box-shadow: none !important;
          }
          a {
               color: var(--pure) !important;
          }
          ul {
               gap: 1rem;
               margin-left: 14rem;
               li {
                    a {
                         text-transform: capitalize;
                         font-family: oswald;
                    }
               }
          }
          .header_dropdown {
               background: transparent;
               outline: none;
               border: none;
               color: var(--pure);
               font-size: 14px;
               text-transform: uppercase;
               margin-bottom: -0.2rem;
               cursor: pointer;
               gap: 6px;
               img {
                    width: 13px;
                    margin-top: -2px;
               }
          }
     }
}

main {
     height: calc(100vh - 76px);
     background-image: url("../assets/images/main.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     display: flex;
     justify-content: end;
     flex-direction: column;
     .prev,
     .next {
          padding: 5px;
          background: transparent;
          min-width: 70px;
          outline: none;
          border: none;
          div {
               background: #ffffff1c;
               padding: 0.5rem 0.7rem;
               border-radius: 6px;
               height: 83px;
               margin-top: -8px !important;
               display: flex;
               justify-content: center;
               align-items: center;
               transition: 0.3s ease-in-out;
               &:hover {
                    scale: 0.9;
               }
          }
     }
     .main-slider {
          overflow: hidden;
          .item_wrapper {
               padding: 5px;
               .item {
                    background: #ffffff1c;
                    padding: 0.5rem 0.7rem;
                    border-radius: 6px;
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center !important;
                    gap: 5px !important;
                    img {
                         width: 61px;
                         height: 37px;
                    }
                    span {
                         text-transform: uppercase;
                         font-family: oswald;
                    }
               }
          }
     }
     ._content {
          height: calc(100% - 367px);
          width: 100%;
          padding: 0 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h6 {
               text-align: center;
               @extend h6;
          }
          h1 {
               text-align: center;
               color: var(--pure) !important;
               @extend .main-heding;
          }
     }
     .filter {
          background: #1b3159d8;
          padding: 3rem;
          // overflow: hidden;
          color: var(--pure) !important;
          form {
               & > div {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 1rem;
                    .input {
                         width: 100%;
                         //     margin: .5rem;
                         input {
                              background: transparent;
                              border: 1px solid var(--border-clr);
                              padding: 0.5rem 0.8rem;
                              border-radius: 5px;
                              margin-top: 0.6rem;
                              width: 100%;
                              outline: none;
                              color: var(--light-gray);
                              &::placeholder {
                                   color: #b8c1d2;
                                   font-family: axiformaRegular !important;
                                   font-size: 14px;
                                   letter-spacing: 0.5px;
                              }
                         }
                    }

                    input[type="button"] {
                         font-size: 20px;
                         margin-top: 1.6rem;
                         font-weight: 700;
                    }
                    .more-search {
                         background: transparent;
                         border: none;
                         outline: none;
                         color: var(--pure);
                         text-transform: capitalize;
                         font-size: 20px;
                    }
                    label {
                         font-family: axiformaRegular;
                         font-size: 14px;
                         letter-spacing: 0.35px;
                    }
               }
          }
     }
}

// leasing-offer
section .__slider {
     margin-top: 8rem;
     .slider-header {
          h2 {
               font-size: 2.5rem;
               color: var(--main);
               font-family: var(--axiforma-bold);
          }
          .slider-btn {
               margin-right: 8%;
               .slick-arrow {
                    padding: 10px 16px !important;
                    border-radius: 6px;
                    transition: 0.3s ease-in-out;
                    &:hover {
                         scale: 0.9;
                    }
               }
          }
     }

     .slick-list {
          padding-left: 0 !important;
     }
     .slick-slide {
          text-align: center;
          margin-right: 10px;
          margin-left: 10px;
     }
     .full-slider {
          margin-left: -10px;
          .slider-card-wrapper {
               .slider-card {
                    border: 1px solid var(--border-clr);
                    border-radius: 6px;
                    // max-width: 370px;
                    width: 100%;

                    .card-body {
                         padding: 1rem;
                         padding-top: 0.5rem;
                    }
                    img {
                         object-fit: cover;
                         object-position: center;
                         width: 100% !important;
                    }
                    .properties {
                         margin-top: 2rem;
                         & > div {
                              display: flex;
                              justify-content: space-between;
                              gap: 1rem;
                         }
                         color: var(--darkgray);
                         font-size: 14px;
                         p {
                              display: flex;
                              align-items: center;
                              gap: 4px;
                              font-family: var(--axiforma-regular) !important;
                              span {
                                   font-family: var(--axiforma-regular) !important;
                              }
                         }
                         img {
                              width: 20px !important;
                              height: 20px;
                         }
                    }
                    .card-footer {
                         display: flex;
                         margin-top: 1rem;
                         gap: 1rem;
                         a {
                              flex: 1;
                              button {
                                   font-family: var(--axiforma-regular);
                                   font-weight: 400;
                                   font-size: 12px;
                                   padding: 12px 5px;
                                   background: var(--secondary);
                                   width: 100%;
                                   color: var(--main);
                                   height: 100%;
                                   svg {
                                        width: 12px;
                                        margin-top: -3px;
                                   }
                              }
                         }
                    }
               }
               h4.heading {
                    color: var(--main);
                    font-family: axiformaRegular;
                    font-size: 1.1rem !important;
                    margin-top: 12px !important;
                    font-weight: 600;
                    text-align: left;
               }
          }
     }
}

// home-banner
.home-banner {
     background-image: url("../assets/images/banner.png");
     background-position: right;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 6rem 1rem;
     margin-top: 8rem;
     .wrapper {
          align-items: center;
     }
     h2 {
          color: var(--pure);
          font-size: 2.65rem;
          max-width: 460px;
          font-weight: 700;
     }
     h6 {
          color: var(--secondary) !important;
          font-weight: 700 !important;
          font-size: 18px !important;
          img {
               width: 25px;
               margin-right: 1rem;
          }
          span {
               margin-top: 5px;
          }
     }
     p {
          color: var(--pure);
          font-weight: 400;
          margin: 1rem 0;
          padding-left: 3rem;
          max-width: 450px;
     }
}

section.car-type {
     .car-type-slider {
          margin-left: -20px !important;
     }
     .slider-header {
          margin-bottom: 1rem !important;
     }
     background: var(--light-gray);
     .slider-card-wrapper {
          .slider-card {
               figure {
                    background: var(--pure) !important;
               }
          }
          p {
               font-weight: 700;
               font-family: var(--oswald);
               letter-spacing: 0.8px;
          }
     }
}

// latest-news-wrapper
.latest-news-wrapper {
     .card-body {
          .properties {
               margin-top: 1rem !important;
          }
     }
     .heading {
          color: var(--darkgray);
          font-weight: 700;
     }
     .card-footer {
          width: 155px;
          padding-top: 10px !important;
     }
}

// call to action
.call-to-action {
     padding: 5rem 0;
     text-align: center;
     margin-top: 8rem;
     background: var(--light-gray);
     color: var(--main) !important;
     h2 {
          max-width: 890px;
          margin: 0 auto;
     }
     .call_button {
          gap: 1rem;
          .button {
               border-radius: 6px;
          }
     }
}

footer {
     padding: 5rem 1rem;
     padding-bottom: 0;
     .footer_nav {
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 2rem;
          h3 {
               color: var(--main);
               font-family: var(--oswald);
               font-size: 18px;
               text-transform: uppercase;
          }
          ul {
               padding-left: 0 !important;
               li {
                    font-size: 16px;
                    margin-top: 1.4rem;
                    text-transform: capitalize;
                    a {
                         color: var(--light-dark);
                         &:hover {
                              color: var(--secondary);
                         }
                    }
               }
          }
          .input {
               border-bottom: 1px solid var(--light-dark);
               display: flex;

               input {
                    padding: 10px !important;
                    border: none;
                    width: 100%;
                    outline: none;
               }
          }
          .social {
               display: flex;
               align-items: center;
               gap: 1rem;
               a {
                    transition: 0.3s ease-in-out;
                    img {
                         width: 50px;
                    }
               }
          }
     }
     .copyright {
          margin-top: 3rem;
          padding: 2rem 0;
          padding-bottom: 1rem;
          border-top: 2px solid var(--border-clr);
          .extra-links {
               justify-content: center;
               flex-wrap: wrap;
               li {
                    margin-left: 12px;
                    a {
                         color: var(--light-dark);
                         &:hover {
                              color: var(--secondary);
                         }
                    }
               }
          }
     }
}

// **********************
// slug page Start
// **********************

section.slug {
     .slider-nav img {
          width: 100%;
          object-fit: cover;
     }
     .slick-slide {
          margin: 0 5px;
     }

     /* the parent */
     .slick-list {
          margin: 0 -5px;
     }

     .slider-for img {
          width: 100%;
          height: 547px;
          object-fit: cover;
     }
     background: var(--light-gray);
     padding: 4rem;
     .main-section-wrapper {
          background: var(--pure);
          padding: 2rem;
          padding-right: 4rem;
          border-radius: 6px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 4rem;
     }
     .detail-content {
          display: flex;
          flex-direction: column;
          justify-content: end;
          margin-bottom: 6px;
          h3 {
               font-size: 1.875rem;
               font-weight: 700;
               color: var(--main);
               // margin-top: 3rem;
          }
          h5 {
               color: var(--secondary);
               font-size: 18px;
               font-weight: 700;
               margin-top: 1rem;
          }
          .pin {
               color: var(--main);
          }
          .price {
               color: var(--main) !important;
               font-weight: 700 !important;
               font-size: 1.5rem;
               margin-top: 1.5rem;
          }
          .vat {
               color: var(--darkgray);
               font-size: 14px;
               margin-top: 10px;
          }
          .info {
               button {
                    color: var(--main);
                    text-decoration: underline;
                    font-weight: 700;
                    font-size: 14px;
                    background: transparent;
               }
               p {
                    color: var(--darkgray);
                    font-size: 14px;
                    margin-bottom: 0;
               }
          }
          form {
               & > div {
                    width: 50%;
               }
               .select {
                    padding: 10px;
                    width: 100%;
                    border: 1px solid var(--border-clr);
                    outline: none;
                    border-radius: 6px;
                    color: var(--darkgray) !important;
                    font-size: 14px !important;
               }
          }
          .requestButton {
               background: var(--secondary);
               color: var(--main);
               font-size: 18px;
               padding: 10px;
               text-align: center;
               border-radius: 6px;
               font-weight: 700;
          }
          .brand {
               background: #f8f2e8;
               padding: 1rem;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 6px;
               margin-top: 1rem;
               img {
                    padding: 0.4rem;
                    width: 200px;
               }
          }
     }
}

// feature section
.features {
     background: var(--light-gray);
     padding-bottom: 3rem;
     .freature_wrapper {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 1rem;
          .feature {
               background: var(--pure);
               padding: 1rem;
               border-radius: 6px;
               figure {
                    background: var(--secondary);
                    padding: 0.8rem;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img {
                         width: 20px;
                         height: 20px;
                    }
               }
               .content {
                    h6 {
                         font-family: var(--oswald);
                         font-size: 1rem !important;
                         color: var(--main) !important;
                         margin-bottom: 4px;
                    }
                    p {
                         color: var(--darkgray);
                         margin-bottom: 0 !important;
                         font-size: 14px;
                    }
               }
          }
     }
}

// highlights section
.highlights {
     background: var(--light-gray);
     h2 {
          color: var(--main);
          font-weight: bold !important;
     }
     .highlights_wrapper {
          margin-top: 2rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10rem;
          margin-bottom: 2rem;
          ul {
               padding-left: 0;
               li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;
                    color: var(--darkgray);
                    font-size: 14px;
                    border-bottom: 1.5px solid var(--border-clr);
                    padding: 12px 0;
                    p {
                         margin-bottom: 0;
                         &:last-child{
                              text-align: end;
                         }
                    }
               }
          }
     }
}

// car-features
.car-features {
     background: var(--light-gray);
     h2 {
          color: var(--main);
          font-weight: 700 !important;
     }
     .car-feature-wrapper {
          margin-top: 2rem;
          margin-bottom: 3rem;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 1rem;
          ul {
               padding-left: 0;
               li {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-bottom: 0.9rem;
                    img {
                         width: 20px;
                    }
                    span {
                         font-family: var(--oswald);
                         color: var(--main);
                         font-weight: 500;
                         font-size: 16px;
                    }
               }
          }
     }
}

// leasing price 
.leasing-price{
     margin: 5rem 0;
     display: flex;
     gap: 7rem;
     .left{
          width: 35%;
          margin-top: 2rem;
          h2{
               color: var(--main);
               font-weight: 700;
          }
          p{
               color: var(--darkgray);
               font-size: 14px;
          }
          h3{
               font-size: 24px;
               color: var(--main);
               font-weight: 700;
          }
          ul{
               padding-left: 0;
               li{
                    color: var(--darkgray);
                    font-size: 14px;
                    margin-top: 10px;
               }
          }
          .address{
               margin-top: 3rem;
               max-width: 392px;
               line-height: 1.8rem;
          }
     }
     .right{
          width: 65%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
          div{
               background: #F8F2E8;
               padding:2rem;
               h3{
                    font-weight: 700 !important;
                    font-size: 20px;
                    color: var(--main);
               }
               ul{
                    padding-left: 0;
                    margin-top: 1rem;
                    margin-bottom: 0;
                    li {
                         display: flex;
                         justify-content: space-between;
                         align-items: center;
                         gap: 1rem;
                         color: var(--darkgray);
                         font-size: 14px;
                         border-bottom: 1.5px solid var(--border-clr);
                         padding: 12px 0;
                         &:last-child{
                              border-bottom: none
                         }
                         p {
                              margin-bottom: 0;
                              &:last-child{
                                   text-align: end;
                              }
                         }
                    }
               }
          }
     }
}

// **********************
// slug page End
// **********************

// **********************
// Leasing Page
// **********************

     section.leasing{
          background-image: url("../assets/images/main.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          padding: 170px 0;
          color: var(--pure);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h2{
               font-weight: 700;
               font-size: 60px;
               text-align: center;
          }
          p{
               font-size: 24px;
               text-align: center;
          }
          a{
               background: var(--secondary);
               color: var(--main);
               padding: 10px 2rem;
               font-weight: 700;
               transition: .3s ease-in-out;
               cursor: pointer;
               &:hover{
                    background: var(--pure);
               }
          }
     }

     .leasing-card{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin-top: 5rem;
          gap: 1.5rem;
          div{
               border : 1px solid var(--border-clr);
               box-shadow: 0px 0px 2px #00000024;
               border-radius: 6px;
               padding: 40px;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               text-align: center;
               img{
                    width: 110px;

               }
               h4{
                    font-size: 24px;
                    max-width: 250px;
                    margin-top: 1rem;
               }
               p{
                    color: var(--darkgray);
                    max-width: 350px;
                    margin-top: 1rem;
               }
          }
     }

     section.content{
          font-weight: 700 !important;
          color: var(--main);
          margin-top: 5rem;
          text-align: center;
          h2{
               font-size: 42px !important;
               margin-bottom: 2rem;
          }
          p{
               color: var(--darkgray);
               font-weight: 300 !important;
               padding: 0 8rem;
               line-height: 2rem;
          }
     }

     .subscription-work{
          background: var(--light-gray);
          margin-top: 4rem;
          padding: 4rem 0 !important;
          text-align: center;
          h2{
               font-size: 42px !important;
               margin-bottom: 2rem;
               color: var(--main);
          } 
          .wrapper{
               display: grid;
               grid-template-columns: repeat(6, 1fr);
               gap: 2rem;
               div{
                    flex: 1;
                    figure{
                         background: var(--pure);
                         border: 1.5px solid var(--border-clr);
                         box-shadow: 0px 0px 2px rgba(0,0,0,0.05);

                         img{
                              width: 100%;
                         }
                    }
                    h6{
                         text-align: center;
                         font-family: var(--oswald);
                         color: var(--main) !important;
                         font-size: 18px !important;
                         font-weight: 500 !important;
                         margin-top: 10px;
                    }
               }
          }
     }

     .cards_content{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 5rem;
          margin: 7rem 0;
          align-items: center;
          .order{
               order: 2;
          }
          h2{
               font-size: 42px !important;
               margin-bottom: 2rem;
               color: var(--main);
               line-height: 60px;
          }
          p{
               font-size: 20px;
               color: var(--darkgray);
          }
          ul{
               padding-left: 0 !important;
               li{
                    color: var(--darkgray);
                    margin-top: 1rem;
                    font-size: 15px;
                    
                    img{
                         padding: 8px;
                         border: 1.5px solid var(--border-clr);
                         border-radius: 50%;
          
                    }
                    span{
                         margin-left: 10px;
                    }
               }
          }
          a>div{
               background: var(--secondary);
               color: var(--main);
               margin-top: 2rem;
               font-weight: 700;
               padding: .8rem 2rem;
               display: inline-block;
               cursor: pointer;
          }
          ._img{
               position: relative;
               padding-right: 30px;
               padding-bottom: 30px;
               img{
                    z-index: 1;
                    object-fit: cover;
                    width: 100%;
                    
               }
               .bg-overlay{
                    content: '';
                    background: var(--secondary);
                    width: 100%;
                    height: 85%;
                    top: 40px;
                    position: absolute;
                    z-index: -1;
                    right: -30px;
               }
               .bg-left{
                    left: -30px !important;
               }
          }
         
     }

// **********************
// Leasing Page End
// **********************


// **********************
// FAQ's Page Start
// **********************

.faq_header{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin: 8rem 0;
     padding: 0 10px;
     h2{
          color: var(--main);
          font-weight: 700;
          font-family: var(--axiforma-bold);
          text-align: center;
     }
     p{
          max-width: 360px;
          text-align: center;
          line-height: 30px;
          margin-top: 1rem;
     }
     div{
          display: flex;
          align-items: center;
          max-width: 500px;
          background: #E3E7EE;
          width: 100%;
          border-radius: 50px;
          padding-right: 1rem;
          margin-top: 1rem;
          input{
               width: 100%;
               background: transparent;
               border: none;
               outline: none;
               padding: 1rem;
          }
          svg{
               cursor: pointer;
          }
     }
}

.faq{
    .accordion{
      padding: 0 10px !important;
    }
     .accordion-item{
          margin-top: 1.5rem;
          border: 1.6px solid var(--border-clr);
          border-bottom: 1.6px solid var(--border-clr) !important;
          border-top: 1.6px solid var(--border-clr) !important;
          border-radius: 15px;
          button{
               padding: 1.7rem;
               font-family: var(--axiforma-bold);

          }
          .accordion-button:not(.collapsed){
               background: transparent !important;
          }
          .accordion-body{
               padding: 1.7rem;
          }
     }
     
     
}

// **********************
// FAQ's Page End
// **********************

// **********************
// Contact us Page Start
// **********************

.contact-us{
     background: var(--secondary);
     padding-bottom: 6rem;
     h2{
          font-family: var(--axiforma-bold);
          color: var(--main);
          text-align: center;
          margin-top: 5rem;
     }
     p{
          text-align: center;
          max-width: 800px;
          margin: 0 auto;
          margin-top: 1rem;
     }
}
.contact-us-form{
     padding-top: 6rem;
     background: var(--light-gray);
     z-index: 1;
     box-shadow: 0px 10px 35px #00000008;
     p{
          color: var(--darkgray);
          padding-top: 10px;
     }
     .form{
          max-width: 1080px;
          width: 100%;
          margin: 0 auto;
          background: var(--pure);
          padding: 3rem;
          border-radius: 6px;
     }
     label{
          color: var(--main);
          font-family: var(--axiforma-bold);
     }
     ._input{
          width: 50%;
          display: flex;
          flex-direction: column;
          
          input, select{
               padding: 14px;
               border: 1.5px solid var(--border-clr) !important;
               outline: none;
               border-radius: 8px;
               color: var(--darkgray);
          }
     }
     .submit_button{
          background: var(--secondary);
          color: var(--main);
          border: none;
          padding: 12px 1.4rem;
          border-radius: 6px;
          font-family: var(--axiforma-bold);
          margin-top: 1rem;
     }
}

.contact-us-footer{
     background: var(--light-gray);
     padding: 6rem 0;
     .contact-card{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 5rem;
          div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               text-align: center;
               figure{
                    background: #E4E6E8;
                    padding: 12px;
                    border-radius: 10px;
                    img{
                         width: 32px;
                         height: 32px;
                    }
               }
               h3{
                    color: var(--main);
                    margin-top: 1rem;
                    font-size: 30px;
               }
               p{
                    margin-top: 0.5rem;
                    color: var(--darkgray);
               }
               a{
                    font-family: var(--axiforma-bold);
                    font-size: 16px;
                    margin-top: 1rem;
                    color: var(--main);
                    cursor: pointer;
               }
               .button{
                    border: 2px solid var(--secondary);
                    border-radius: 6px;
                    background: transparent !important;
               }
          }
     }
}

// **********************
// Contact us Page End
// **********************


// ****************
// single blog start
// ****************

.comment-wrapper {
     background: var(--main);
     padding: 2rem;
     margin-top: 2rem;
     a {
          color: var(--secondary);
     }
     h3 {
          color: var(--pure);
          font-weight: 700;
          font-family: var(--axiforma-bold);
          font-size: 1.4rem;
     }
     p {
          color: var(--pure);
     }
     form {
          textarea {
               width: 100%;
               border: 1px solid #686363;
               background: transparent;
               padding: 10px;
               outline: none;
               color: white;
          }
          .submit-comments {
               background: var(--secondary);
               margin-top: 1rem;
               color: var(--main);
               padding: 12px 1.2rem;
               border: none;
               outline: none;
               cursor: pointer;
               &::hover {
                    background: var(--secondary);
                    color: var(--main);
               }
          }
     }
}
.blog-single {
     .content {
          .main-heading {
               color: var(--main);
               font-weight: 700;
               font-family: var(--axiforma-bold);
               text-align: left;
          }
          .post_meta {
               margin-bottom: 1rem;
               border-bottom: 1px solid var(--border-clr);
               .posted-on {
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    a {
                         color: var(--secondary);
                         text-transform: capitalize;
                    }
                    .post-on {
                         background: var(--secondary);
                         padding: 12px;
                         font-weight: 600;
                         padding-right: 6px;
                         margin-right: 3px;
                    }
               }
               .comment-count {
                    padding-bottom: 0.8rem;
               }
               .message-icon {
                    width: 1.2rem;
                    height: 1.2rem;
                    color: var(--secondary);
               }
          }
          .entry {
               text-align: left;

               h1,
               h2,
               h3 {
                    color: var(--main);
                    font-weight: 700;
                    font-family: var(--axiforma-bold);
                    font-size: 1.7rem;
                    margin: 1rem 0;
               }
               b {
                    color: var(--main);
                    font-weight: 700;
                    font-family: var(--axiforma-bold);
               }
               ul,
               ol {
                    padding: 0;
                    li {
                         position: relative;
                         padding-left: 1.5rem;
                         &::before {
                              content: "";
                              position: absolute;
                              left: 0;
                              top: 4px;
                              width: 15px;
                              height: 15px;
                              background: var(--secondary);
                         }
                    }
               }
          }
          .comments {
          }
     }
     .blog_sidebar {
          background: var(--light-gray);
     }
}

// ****************
// serach page start
// ****************

.search_header {
     display: flex;
     margin-top: 5rem;
     margin-bottom: 5rem;
     justify-content: center;
     img {
          filter: invert(1);
     }
}
.search {
     aside {
          background: var(--light-gray);
          border: 1px solid var(--border-clr);
          padding: 1rem;
          h4{
               color: var(--main);
               font-weight: 700;
               font-family: var(--axiforma-bold);
               font-size: 1.2rem;
               text-transform: capitalize;
          }
          form {
               
               label{
                    font-size: 14px;
                    color:#111;
                    margin-top: 1rem;
                    font-weight: 300;
                    font-family: var(--axiforma-regular);
               }
               select {
                    outline: none;
                    color: var(--darkgray);
                    font-size: 14px;
                    padding: 12px;
               }
               input{
                    outline: none;
                    color: var(--darkgray);
                    font-size: 14px;
                    padding: 12px;
               }
               .checkbox{
                    margin-top: 5px;
                    label{
                         margin-top: 10px !important;
                    }
               }
               select:focus,input:focus {
                    border-color: none;
                    box-shadow: none;
                    outline: 0 none;
               }
          }
     }
     .listing{
          padding-left: 3rem;
          .single-card{
               background: #f3f3f3;
               border: 1px solid var(--border-clr);
               img{
                    height: 100%;
                    object-fit: cover;
               }
               .card-body{
                    padding: 2rem;
                    h4{
                         color: var(--main);
                         font-weight: 700;
                         font-family: var(--axiforma-bold);
                         font-size: 1.2rem;
                         text-transform: capitalize;
                    }
                    .price{
                         color: var(--main);
                         font-weight: 700;
                         font-family: var(--axiforma-bold);
                         font-size: 1.8rem;
                         text-transform: capitalize;
                         margin-top: .7rem;
                         border-bottom: 1px solid #d9d9d9;
                         padding-bottom: 1rem;
                    }
                    .properties{
                         margin-top: 1rem;
                    &>div{
                              display: flex;
                              justify-content: space-between;
                         }
                    }
                    ul{
                         row-gap: .9rem;
                         border-top: 1px solid #d9d9d9;
                         padding-top: 1rem !important;
                         column-gap: 1.5rem;
                         flex-wrap: wrap;
                         li{
                              overflow: hidden;
                              padding: 0;
                              ;
                              img{
                                   height: auto;
                              }
                         }
                    }
               }
              
          }
     }
     
}

// media Query
@media (max-width: 480px) {
     .call-to-action {
          .call_button {
               flex-direction: column !important;
               padding: 0 2rem;
          }
     }

     main {
          height: 100%;
          ._content {
               position: relative;
               padding: 10rem 10px;
               h1 {
                    font-size: 40px;
               }
               h6 {
                    font-size: 18px;
               }
          }
          .filter {
               padding: 3rem 10px;
               .main-slider-wrapper {
                    margin: 1.5rem 0;
               }
               form {
                    & > div {
                         grid-template-columns: 1fr;
                         .input {
                              max-width: 100%;
                         }
                    }
               }
          }
     }
     header {
          .logins_section {
               display: none !important;
          }
          ul {
               margin-left: 0 !important;
               gap: 0 !important;
               margin-top: 1rem;
               li {
                    border-bottom: 1px solid #494949;
                    padding: 12px 10px;
                    &:last-child {
                         border: none;
                    }
               }
          }
     }
     .ml-8-per {
          padding-left: 0 !important;
     }
     .main-heding {
          font-size: 48px !important;
     }
     .home-banner {
          p {
               padding-left: 0 !important;
          }
          .container {
               max-width: 100% !important;
          }
     }
     section .__slider {
          padding: 1rem;
          margin: 3rem 0;
          margin-bottom: 0 !important;

          .slider-header {
               align-items: baseline;
          }
          .slick-slide {
               margin-right: 0;
          }
          h2 {
               font-size: 1.7rem !important;
               margin-bottom: 1rem;
          }
          .card-footer {
               flex-direction: column;
          }
     }
     .slider-btn {
          margin-right: 0 !important;
     }
     .copyright {
          flex-direction: column;
          justify-content: center !important;
          p {
               text-align: center;
          }
          ul {
               padding-left: 0 !important;
          }
     }
}

// latest-news-wrapper
.latest-news-wrapper {
     .card-body {
          .properties {
               margin-top: 1rem !important;
          }
     }
     .heading {
          color: var(--darkgray);
          font-weight: 700;
     }
     .card-footer {
          width: 155px;
          padding-top: 10px !important;
     }
}

// call to action
.call-to-action {
     padding: 5rem 0;
     text-align: center;
     margin-top: 10rem;
     background: var(--light-gray);
     color: var(--main) !important;
     h2 {
          max-width: 890px;
          margin: 0 auto;
     }
     .call_button {
          gap: 1rem;
          .button {
               border-radius: 6px;
          }
     }
}

footer {
     padding: 5rem 1rem;
     padding-bottom: 0;
     .footer_nav {
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 2rem;
          h3 {
               color: var(--main);
               font-family: var(--oswald);
               font-size: 18px;
               text-transform: uppercase;
          }
          ul {
               padding-left: 0 !important;
               li {
                    font-size: 16px;
                    margin-top: 1.4rem;
                    text-transform: capitalize;
                    a {
                         color: var(--light-dark);
                         &:hover {
                              color: var(--secondary);
                         }
                    }
               }
          }
          .input {
               border-bottom: 1px solid var(--light-dark);
               display: flex;

               input {
                    padding: 10px !important;
                    border: none;
                    width: 100%;
                    outline: none;
               }
          }
          .social {
               display: flex;
               align-items: center;
               gap: 1rem;
               a {
                    transition: 0.3s ease-in-out;
                    img {
                         width: 50px;
                    }
               }
          }
     }
     .copyright {
          margin-top: 3rem;
          padding: 2rem 0;
          padding-bottom: 1rem;
          border-top: 2px solid var(--border-clr);
          .extra-links {
               li {
                    margin-left: 12px;
                    a {
                         color: var(--light-dark);
                         &:hover {
                              color: var(--secondary);
                         }
                    }
               }
          }
     }
}

@media (min-width: 481px) and (max-width: 992px) {
     main {
          height: 100%;
          ._content {
               position: relative;
               padding: 10rem 10px;
               h1 {
                    font-size: 48px;
               }
               h6 {
                    font-size: 20px;
               }
          }
          .filter {
               padding: 3rem 10px;
               .main-slider-wrapper {
                    margin: 1.5rem 0;
               }
               form {
                    & > div {
                         grid-template-columns: 1fr 1fr;
                    }
               }
          }
     }
     header {
          .logins_section {
               display: none !important;
          }
          ul {
               margin-left: 0 !important;
               gap: 0 !important;
               margin-top: 1rem;
               li {
                    border-bottom: 1px solid #494949;
                    padding: 12px 10px;
                    &:last-child {
                         border: none;
                    }
               }
          }
     }
     .ml-8-per {
          margin-left: 0;
     }
}
@media (min-width: 481px) and (max-width: 680px) {
     .__slider {
          .card-footer {
               flex-direction: column;
          }
     }
}
@media (min-width: 1400px) {
     .home-banner {
          .img {
               margin-left: -180px;
          }
     }
}
@media (main-width: 2000px) {
     .container {
          max-width: 1420px !important;
          width: 100% !important;
          margin: 0 auto;
     }

     .container-right {
          max-width: 1420px !important;
          width: 100% !important;
          margin: 0 auto;
     }
}
