/* import style external files files  */
@import "../assets/styles/_fonts.css";
@import "../assets/styles/_variables.css";
@import "./assets/styles/_fonts.css";
@import "./assets/styles/_variables.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--axiforma-regular);
}

h1,
h2,
h3,
h4,
h5,
h6,
main ._content h6,
p,
span,
a,
div {
  overflow-y: hidden;
}

.text-end {
  text-align: end;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

button {
  outline: none;
  border: none;
  font-family: var(--axiforma-regular) !important;
}

.button {
  padding: 0.6rem 2rem;
  padding-top: 0.7rem;
  background: var(--secondary);
  color: var(--main) !important;
  font-size: 14px;
  cursor: pointer;
}
.button a {
  color: var(--main) !important;
}

.main-heding, main ._content h1 {
  font-size: 3.75rem;
  font-weight: 700;
}

h6, main ._content h6 {
  color: var(--pure) !important;
  font-size: 24px !important;
  letter-spacing: 0.6px;
  font-weight: 700;
}

.sub-heading {
  font-size: 2.5rem;
}

.container-main {
  max-width: 90% !important;
  width: 100% !important;
  margin: 0 auto;
}

._border {
  border-bottom: 2px solid var(--border-clr);
  padding-bottom: 1.5rem;
}

.ml-8-per {
  padding-left: 8%;
}

figure {
  margin: 0;
}

.btn-dark {
  background: var(--main);
  color: var(--pure) !important;
}

header nav {
  background: var(--main);
  padding: 1rem 0 !important;
}
header nav .navbar-toggler {
  background: var(--pure) !important;
  padding: 6px;
  outline: none;
  border: none;
  box-shadow: none !important;
}
header nav a {
  color: var(--pure) !important;
}
header nav ul {
  gap: 1rem;
  margin-left: 14rem;
}
header nav ul li a {
  text-transform: capitalize;
  font-family: oswald;
}
header nav .header_dropdown {
  background: transparent;
  outline: none;
  border: none;
  color: var(--pure);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: -0.2rem;
  cursor: pointer;
  gap: 6px;
}
header nav .header_dropdown img {
  width: 13px;
  margin-top: -2px;
}

main {
  height: calc(100vh - 76px);
  background-image: url("../assets/images/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
main .prev,
main .next {
  padding: 5px;
  background: transparent;
  min-width: 70px;
  outline: none;
  border: none;
}
main .prev div,
main .next div {
  background: rgba(255, 255, 255, 0.1098039216);
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  height: 83px;
  margin-top: -8px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
main .prev div:hover,
main .next div:hover {
  scale: 0.9;
}
main .main-slider {
  overflow: hidden;
}
main .main-slider .item_wrapper {
  padding: 5px;
}
main .main-slider .item_wrapper .item {
  background: rgba(255, 255, 255, 0.1098039216);
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 5px !important;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
main .main-slider .item_wrapper .item:hover {
  scale: 0.95;
}
main .main-slider .item_wrapper .item img {
  width: 61px;
  height: 37px;
}
main .main-slider .item_wrapper .item span {
  text-transform: uppercase;
  font-family: oswald;
}
main ._content {
  height: calc(100% - 367px);
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
}
main ._content h6 {
  text-align: center;
}
main ._content h1 {
  text-align: center;
  color: var(--pure) !important;
}
main .filter {
  background: rgba(27, 49, 89, 0.8470588235);
  padding: 3rem;
  color: var(--pure) !important;
}
main .filter .slick-list {
  margin-left: -2.5px !important;
}
main .filter form > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}
main .filter form > div .input {
  width: 100%;
}
main .filter form > div .input input {
  background: transparent;
  border: 1px solid var(--border-clr);
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  margin-top: 0.6rem;
  width: 100%;
  outline: none;
  color: var(--light-gray);
}
main .filter form > div .input input::-moz-placeholder {
  color: #b8c1d2;
  font-family: axiformaRegular !important;
  font-size: 14px;
  letter-spacing: 0.5px;
}
main .filter form > div .input input::placeholder {
  color: #b8c1d2;
  font-family: axiformaRegular !important;
  font-size: 14px;
  letter-spacing: 0.5px;
}
main .filter form > div input[type=button] {
  font-size: 20px;
  margin-top: 1.6rem;
  font-weight: 700;
}
main .filter form > div .more-search {
  background: transparent;
  border: none;
  outline: none;
  color: var(--pure);
  text-transform: capitalize;
  font-size: 20px;
}
main .filter form > div label {
  font-family: axiformaRegular;
  font-size: 14px;
  letter-spacing: 0.35px;
}

section .__slider {
  margin-top: 8rem;
}
section .__slider .slider-header h2 {
  font-size: 2.5rem;
  color: var(--main);
  font-family: var(--axiforma-bold);
}
section .__slider .slider-header .slider-btn {
  margin-right: 8%;
}
section .__slider .slider-header .slider-btn .slick-arrow {
  padding: 10px 16px !important;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
section .__slider .slider-header .slider-btn .slick-arrow:hover {
  scale: 0.9;
}
section .__slider .slick-list {
  padding-left: 0 !important;
}
section .__slider .slick-slide {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}
section .__slider .full-slider {
  margin-left: -10px;
}
section .__slider .full-slider .slider-card-wrapper .slider-card {
  border: 1px solid var(--border-clr);
  border-radius: 6px;
  width: 100%;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .card-body {
  padding: 1rem;
  padding-top: 0.5rem;
}
section .__slider .full-slider .slider-card-wrapper .slider-card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100% !important;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .properties {
  margin-top: 2rem;
  color: var(--darkgray);
  font-size: 14px;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .properties > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .properties p {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--axiforma-regular) !important;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .properties p span {
  font-family: var(--axiforma-regular) !important;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .properties img {
  width: 20px !important;
  height: 20px;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .card-footer {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .card-footer a {
  flex: 1;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .card-footer a button {
  font-family: var(--axiforma-regular);
  font-weight: 400;
  font-size: 12px;
  padding: 12px 5px;
  background: var(--secondary);
  width: 100%;
  color: var(--main);
  height: 100%;
}
section .__slider .full-slider .slider-card-wrapper .slider-card .card-footer a button svg {
  width: 12px;
  margin-top: -3px;
}
section .__slider .full-slider .slider-card-wrapper h4.heading {
  color: var(--main);
  font-family: axiformaRegular;
  font-size: 1.1rem !important;
  margin-top: 12px !important;
  font-weight: 600;
  text-align: left;
}
section .__slider .full-slider .slider-card-wrapper h4.heading a {
  color: var(--main);
}

.home-banner {
  background-image: url("../assets/images/banner.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 1rem;
  margin-top: 8rem;
}
.home-banner .wrapper {
  align-items: center;
}
.home-banner h2 {
  color: var(--pure);
  font-size: 2.65rem;
  max-width: 460px;
  font-weight: 700;
}
.home-banner h6, .home-banner main ._content h6, main ._content .home-banner h6 {
  color: var(--secondary) !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}
.home-banner h6 img {
  width: 25px;
  margin-right: 1rem;
}
.home-banner h6 span {
  margin-top: 5px;
}
.home-banner p {
  color: var(--pure);
  font-weight: 400;
  margin: 1rem 0;
  padding-left: 3rem;
  max-width: 450px;
}

section.car-type {
  background: var(--light-gray);
}
section.car-type .__slider.mt-5 {
  padding-bottom: 4rem;
}
section.car-type .car-type-slider {
  margin-left: -20px !important;
}
section.car-type .slider-header {
  margin-bottom: 1rem !important;
}
section.car-type .slider-card-wrapper .slider-card figure {
  background: var(--pure) !important;
}
section.car-type .slider-card-wrapper p {
  font-weight: 700;
  font-family: var(--oswald);
  letter-spacing: 0.8px;
}

.latest-news-wrapper .card-body .properties {
  margin-top: 1rem !important;
}
.latest-news-wrapper .heading {
  color: var(--darkgray);
  font-weight: 700;
}
.latest-news-wrapper .card-footer {
  width: 155px;
  padding-top: 10px !important;
}

.call-to-action {
  padding: 5rem 0;
  text-align: center;
  margin-top: 8rem;
  background: var(--light-gray);
  color: var(--main) !important;
}
.call-to-action h2 {
  max-width: 890px;
  margin: 0 auto;
}
.call-to-action .call_button {
  gap: 1rem;
}
.call-to-action .call_button .button {
  border-radius: 6px;
}

footer {
  padding: 5rem 1rem;
  padding-bottom: 0;
}
footer .footer_nav {
  gap: 2rem;
}
footer .footer_nav h3 {
  color: var(--main);
  font-family: var(--oswald);
  font-size: 18px;
  text-transform: uppercase;
}
footer .footer_nav ul {
  padding-left: 0 !important;
}
footer .footer_nav ul li {
  font-size: 16px;
  margin-top: 1.4rem;
  text-transform: capitalize;
}
footer .footer_nav ul li a {
  color: var(--light-dark);
}
footer .footer_nav ul li a:hover {
  color: var(--secondary);
}
footer .footer_nav .input {
  border-bottom: 1px solid var(--light-dark);
  display: flex;
}
footer .footer_nav .input input {
  padding: 10px !important;
  border: none;
  width: 100%;
  outline: none;
}
footer .footer_nav .social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer_nav .social a {
  transition: 0.3s ease-in-out;
}
footer .footer_nav .social a img {
  width: 50px;
}
footer .copyright {
  margin-top: 3rem;
  padding: 2rem 0;
  padding-bottom: 1rem;
  border-top: 2px solid var(--border-clr);
}
footer .copyright .extra-links {
  justify-content: center;
  flex-wrap: wrap;
}
footer .copyright .extra-links li {
  margin-left: 12px;
}
footer .copyright .extra-links li a {
  color: var(--light-dark);
}
footer .copyright .extra-links li a:hover {
  color: var(--secondary);
}

section.slug {
  /* the parent */
  background: var(--light-gray);
  padding: 4rem;
}
section.slug .slider-nav img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.slug .slick-slide {
  margin: 0 5px;
}
section.slug .slick-list {
  margin: 0 -5px;
}
section.slug .slider-for img {
  width: 100%;
  height: 547px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.slug .main-section-wrapper {
  background: var(--pure);
  padding: 2rem;
  padding-right: 4rem;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
section.slug .detail-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 6px;
}
section.slug .detail-content h3 {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--main);
}
section.slug .detail-content h5 {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 700;
  margin-top: 1rem;
}
section.slug .detail-content .pin {
  color: var(--main);
}
section.slug .detail-content .price {
  color: var(--main) !important;
  font-weight: 700 !important;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
section.slug .detail-content .vat {
  color: var(--darkgray);
  font-size: 14px;
  margin-top: 10px;
}
section.slug .detail-content .info button {
  color: var(--main);
  text-decoration: underline;
  font-weight: 700;
  font-size: 14px;
  background: transparent;
}
section.slug .detail-content .info p {
  color: var(--darkgray);
  font-size: 14px;
  margin-bottom: 0;
}
section.slug .detail-content form > div {
  width: 50%;
}
section.slug .detail-content form .select {
  padding: 10px;
  width: 100%;
  border: 1px solid var(--border-clr);
  outline: none;
  border-radius: 6px;
  color: var(--darkgray) !important;
  font-size: 14px !important;
}
section.slug .detail-content .requestButton {
  background: var(--secondary);
  color: var(--main);
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  font-weight: 700;
}
section.slug .detail-content .brand {
  background: #f8f2e8;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: 1rem;
}
section.slug .detail-content .brand img {
  padding: 0.4rem;
  width: 200px;
}

.features {
  background: var(--light-gray);
  padding-bottom: 3rem;
}
.features .freature_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.features .freature_wrapper .feature {
  background: var(--pure);
  padding: 1rem;
  border-radius: 6px;
}
.features .freature_wrapper .feature figure {
  background: var(--secondary);
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features .freature_wrapper .feature figure img {
  width: 20px;
  height: 20px;
}
.features .freature_wrapper .feature .content h6 {
  font-family: var(--oswald);
  font-size: 1rem !important;
  color: var(--main) !important;
  margin-bottom: 4px;
}
.features .freature_wrapper .feature .content p {
  color: var(--darkgray);
  margin-bottom: 0 !important;
  font-size: 14px;
}

.highlights {
  background: var(--light-gray);
}
.highlights h2 {
  color: var(--main);
  font-weight: bold !important;
}
.highlights .highlights_wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  margin-bottom: 2rem;
}
.highlights .highlights_wrapper ul {
  padding-left: 0;
}
.highlights .highlights_wrapper ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--darkgray);
  font-size: 14px;
  border-bottom: 1.5px solid var(--border-clr);
  padding: 12px 0;
}
.highlights .highlights_wrapper ul li p {
  margin-bottom: 0;
}
.highlights .highlights_wrapper ul li p:last-child {
  text-align: end;
}

.car-features {
  background: var(--light-gray);
}
.car-features h2 {
  color: var(--main);
  font-weight: 700 !important;
}
.car-features .car-feature-wrapper {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.car-features .car-feature-wrapper ul {
  padding-left: 0;
}
.car-features .car-feature-wrapper ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 0.9rem;
}
.car-features .car-feature-wrapper ul li img {
  width: 20px;
}
.car-features .car-feature-wrapper ul li span {
  font-family: var(--oswald);
  color: var(--main);
  font-weight: 500;
  font-size: 16px;
}

.leasing-price {
  margin: 5rem 0;
  display: flex;
  gap: 7rem;
}
.leasing-price .left {
  width: 35%;
  margin-top: 2rem;
}
.leasing-price .left h2 {
  color: var(--main);
  font-weight: 700;
}
.leasing-price .left p {
  color: var(--darkgray);
  font-size: 14px;
}
.leasing-price .left h3 {
  font-size: 24px;
  color: var(--main);
  font-weight: 700;
}
.leasing-price .left ul {
  padding-left: 0;
}
.leasing-price .left ul li {
  color: var(--darkgray);
  font-size: 14px;
  margin-top: 10px;
}
.leasing-price .left .address {
  margin-top: 3rem;
  max-width: 392px;
  line-height: 1.8rem;
}
.leasing-price .right {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.leasing-price .right div {
  background: #f8f2e8;
  padding: 2rem;
}
.leasing-price .right div h3 {
  font-weight: 700 !important;
  font-size: 20px;
  color: var(--main);
}
.leasing-price .right div ul {
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}
.leasing-price .right div ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--darkgray);
  font-size: 14px;
  border-bottom: 1.5px solid var(--border-clr);
  padding: 12px 0;
}
.leasing-price .right div ul li:last-child {
  border-bottom: none;
}
.leasing-price .right div ul li p {
  margin-bottom: 0;
}
.leasing-price .right div ul li p:last-child {
  text-align: end;
}

section.leasing {
  background-image: url("../assets/images/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 0;
  color: var(--pure);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.leasing h2 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
section.leasing p {
  font-size: 24px;
  text-align: center;
}
section.leasing a {
  background: var(--secondary);
  color: var(--main);
  padding: 10px 2rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
section.leasing a:hover {
  background: var(--pure);
}

.leasing-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  gap: 1.5rem;
}
.leasing-card div {
  border: 1px solid var(--border-clr);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1411764706);
  border-radius: 6px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.leasing-card div img {
  width: 110px;
}
.leasing-card div h4 {
  font-size: 24px;
  max-width: 250px;
  margin-top: 1rem;
}
.leasing-card div p {
  color: var(--darkgray);
  max-width: 350px;
  margin-top: 1rem;
}

section.content {
  font-weight: 700 !important;
  color: var(--main);
  margin-top: 5rem;
  text-align: center;
}
section.content h2 {
  font-size: 42px !important;
  margin-bottom: 2rem;
}
section.content p {
  color: var(--darkgray);
  font-weight: 300 !important;
  padding: 0 8rem;
  line-height: 2rem;
}

.subscription-work {
  background: var(--light-gray);
  margin-top: 4rem;
  padding: 4rem 0 !important;
  text-align: center;
}
.subscription-work h2 {
  font-size: 42px !important;
  margin-bottom: 2rem;
  color: var(--main);
}
.subscription-work .wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
.subscription-work .wrapper div {
  flex: 1;
}
.subscription-work .wrapper div figure {
  background: var(--pure);
  border: 1.5px solid var(--border-clr);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
}
.subscription-work .wrapper div figure img {
  width: 100%;
}
.subscription-work .wrapper div h6 {
  text-align: center;
  font-family: var(--oswald);
  color: var(--main) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-top: 10px;
}

.cards_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 7rem 0;
  align-items: center;
}
.cards_content .order {
  order: 2;
}
.cards_content h2 {
  font-size: 42px !important;
  margin-bottom: 2rem;
  color: var(--main);
  line-height: 60px;
}
.cards_content p {
  font-size: 20px;
  color: var(--darkgray);
}
.cards_content ul {
  padding-left: 0 !important;
}
.cards_content ul li {
  color: var(--darkgray);
  margin-top: 1rem;
  font-size: 15px;
}
.cards_content ul li img {
  padding: 8px;
  border: 1.5px solid var(--border-clr);
  border-radius: 50%;
}
.cards_content ul li span {
  margin-left: 10px;
}
.cards_content a > div {
  background: var(--secondary);
  color: var(--main);
  margin-top: 2rem;
  font-weight: 700;
  padding: 0.8rem 2rem;
  display: inline-block;
  cursor: pointer;
}
.cards_content ._img {
  position: relative;
  padding-right: 30px;
  padding-bottom: 30px;
}
.cards_content ._img img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.cards_content ._img .bg-overlay {
  content: "";
  background: var(--secondary);
  width: 100%;
  height: 85%;
  top: 40px;
  position: absolute;
  z-index: -1;
  right: -30px;
}
.cards_content ._img .bg-left {
  left: -30px !important;
}

.faq_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0;
  padding: 0 10px;
}
.faq_header h2 {
  color: var(--main);
  font-weight: 700;
  font-family: var(--axiforma-bold);
  text-align: center;
}
.faq_header p {
  max-width: 360px;
  text-align: center;
  line-height: 30px;
  margin-top: 1rem;
}
.faq_header div {
  display: flex;
  align-items: center;
  max-width: 500px;
  background: #e3e7ee;
  width: 100%;
  border-radius: 50px;
  padding-right: 1rem;
  margin-top: 1rem;
}
.faq_header div input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 1rem;
}
.faq_header div svg {
  cursor: pointer;
}

.faq .accordion {
  padding: 0 10px !important;
}
.faq .accordion-item {
  margin-top: 1.5rem;
  border: 1.6px solid var(--border-clr);
  border-bottom: 1.6px solid var(--border-clr) !important;
  border-top: 1.6px solid var(--border-clr) !important;
  border-radius: 15px;
}
.faq .accordion-item button {
  padding: 1.7rem;
  font-family: var(--axiforma-bold);
}
.faq .accordion-item .accordion-button:not(.collapsed) {
  background: transparent !important;
}
.faq .accordion-item .accordion-body {
  padding: 1.7rem;
}

.contact-us {
  background: var(--secondary);
  padding-bottom: 6rem;
}
.contact-us h2 {
  font-family: var(--axiforma-bold);
  color: var(--main);
  text-align: center;
  margin-top: 5rem;
}
.contact-us p {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1rem;
}

.contact-us-form {
  padding-top: 6rem;
  background: var(--light-gray);
  z-index: 1;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.031372549);
}
.contact-us-form p {
  color: var(--darkgray);
  padding-top: 10px;
}
.contact-us-form .form {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  background: var(--pure);
  padding: 3rem;
  border-radius: 6px;
}
.contact-us-form label {
  color: var(--main);
  font-family: var(--axiforma-bold);
}
.contact-us-form ._input {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-us-form ._input input,
.contact-us-form ._input select {
  padding: 14px;
  border: 1.5px solid var(--border-clr) !important;
  outline: none;
  border-radius: 8px;
  color: var(--darkgray);
}
.contact-us-form .submit_button {
  background: var(--secondary);
  color: var(--main);
  border: none;
  padding: 12px 1.4rem;
  border-radius: 6px;
  font-family: var(--axiforma-bold);
  margin-top: 1rem;
}

.contact-us-footer {
  background: var(--light-gray);
  padding: 6rem 0;
}
.contact-us-footer .contact-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.contact-us-footer .contact-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-us-footer .contact-card div figure {
  background: #e4e6e8;
  padding: 12px;
  border-radius: 10px;
}
.contact-us-footer .contact-card div figure img {
  width: 32px;
  height: 32px;
}
.contact-us-footer .contact-card div h3 {
  color: var(--main);
  margin-top: 1rem;
  font-size: 30px;
}
.contact-us-footer .contact-card div p {
  margin-top: 0.5rem;
  color: var(--darkgray);
}
.contact-us-footer .contact-card div a {
  font-family: var(--axiforma-bold);
  font-size: 16px;
  margin-top: 1rem;
  color: var(--main);
  cursor: pointer;
}
.contact-us-footer .contact-card div .button {
  border: 2px solid var(--secondary);
  border-radius: 6px;
  background: transparent !important;
}

.search_header {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
}
.search_header img {
  filter: invert(1);
}

.search aside {
  background: var(--light-gray);
  border: 1px solid var(--border-clr);
  padding: 1.5rem;
}
.search aside h4 {
  color: var(--main);
  font-weight: 700;
  font-family: var(--axiforma-bold);
  font-size: 1.2rem;
  text-transform: capitalize;
}
.search aside form div {
  padding: 0;
}
.search aside form label {
  font-size: 14px;
  color: #111;
  margin-top: 1rem;
  font-weight: 300;
  font-family: var(--axiforma-regular);
}
.search aside form select {
  outline: none;
  color: var(--darkgray);
  font-size: 14px;
  padding: 12px;
}
.search aside form input {
  outline: none;
  color: var(--darkgray);
  font-size: 14px;
  padding: 12px;
}
.search aside form .checkbox {
  margin-top: 5px;
}
.search aside form .checkbox label {
  margin-top: 10px !important;
}
.search aside form select:focus,
.search aside form input:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}
.search .listing {
  padding-left: 3rem;
}
.search .listing ._p {
  padding: 0 0.7rem;
}
.search .listing .filter-responce {
  background: var(--light-gray);
  padding: 2rem;
}
.search .listing .filter-responce h2 {
  font-family: var(--axiforma-regular);
  font-size: 1.6rem;
  color: var(--main) !important;
}
.search .listing .filter-responce .filters {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.search .listing .filter-responce .filters .tag {
  border: 1px solid var(--main);
  text-transform: capitalize;
  padding: 8px 1.8rem;
  border-radius: 50px;
  cursor: pointer;
}
.search .listing .single-card {
  background: #f3f3f3;
  border: 1px solid var(--border-clr);
}
.search .listing .single-card img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search .listing .single-card .card-body {
  padding: 2rem;
}
.search .listing .single-card .card-body h4 {
  color: var(--main);
  font-weight: 700;
  font-family: var(--axiforma-bold);
  font-size: 1.2rem;
  text-transform: capitalize;
}
.search .listing .single-card .card-body .price {
  color: var(--main);
  font-weight: 700;
  font-family: var(--axiforma-bold);
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-top: 0.7rem;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem;
}
.search .listing .single-card .card-body .properties {
  margin-top: 1rem;
}
.search .listing .single-card .card-body .properties > div {
  display: flex;
  justify-content: space-between;
}
.search .listing .single-card .card-body ul {
  row-gap: 0.9rem;
  border-top: 1px solid #d9d9d9;
  padding-top: 1rem !important;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  flex-wrap: wrap;
}
.search .listing .single-card .card-body ul li {
  overflow: hidden;
  padding: 0;
}
.search .listing .single-card .card-body ul li img {
  height: auto;
}
.search .listing .result-notfound {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background: var(--light-gray);
}
.search .listing .result-notfound div {
  width: 100%;
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main);
}
.search .listing .result-notfound h2 {
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--main) !important;
  line-height: 2.5rem;
}

@media (max-width: 480px) {
  .container {
    padding: 0 !important;
  }
  .call-to-action {
    margin-top: 3rem !important;
  }
  .call-to-action .call_button {
    flex-direction: column !important;
    padding: 0 2rem;
  }
  .home-banner {
    margin-top: 4rem;
  }
  main {
    height: 100%;
  }
  main ._content {
    position: relative;
    padding: 10rem 1.5rem;
  }
  main ._content h1 {
    font-size: 40px;
  }
  main ._content h6 {
    font-size: 18px;
    line-height: 2.2rem;
  }
  main .filter {
    padding: 3rem 10px;
  }
  main .filter .main-slider-wrapper {
    margin: 1.5rem 0;
  }
  main .filter form > div {
    grid-template-columns: 1fr;
  }
  main .filter form > div .input {
    max-width: 100%;
  }
  main .filter .submit.button {
    margin-top: 2rem;
  }
  header .logins_section {
    display: none !important;
  }
  header ul {
    margin-left: 0 !important;
    gap: 0 !important;
    margin-top: 1rem;
  }
  header ul li {
    border-bottom: 1px solid #494949;
    padding: 12px 10px;
  }
  header ul li:last-child {
    border: none;
  }
  .footer_nav {
    padding: 0 12px;
    padding-top: 2rem;
    gap: 0 !important;
  }
  .ml-8-per {
    padding-left: 0 !important;
  }
  .main-heding, main ._content h1 {
    font-size: 35px !important;
  }
  .home-banner p {
    padding-left: 0 !important;
  }
  .home-banner .container {
    max-width: 100% !important;
  }
  section .__slider {
    padding: 1rem;
    margin: 3rem 0;
    margin-bottom: 0 !important;
  }
  section .__slider .slider-header {
    align-items: baseline;
  }
  section .__slider .slick-slide {
    margin-right: 0;
  }
  section .__slider h2 {
    font-size: 1.7rem !important;
    margin-bottom: 1rem;
  }
  section .__slider .card-footer {
    flex-direction: column;
  }
  .slider-btn {
    margin-right: 0 !important;
  }
  .copyright {
    flex-direction: column;
    justify-content: center !important;
  }
  .copyright p {
    text-align: center;
  }
  .copyright ul {
    padding-left: 0 !important;
  }
  .slug {
    padding: 10px !important;
  }
  .slug .slider-for img {
    height: 220px !important;
  }
  .slug .main-section-wrapper {
    grid-template-columns: 1fr !important;
    gap: 2rem !important;
    padding: 12px !important;
  }
  .slug .main-section-wrapper .detail-content h5 {
    margin-top: 7px !important;
    font-size: 16px !important;
  }
  .slug .main-section-wrapper .detail-content .info button {
    margin-bottom: 10px;
  }
  .features {
    padding: 10px;
    padding-top: 1rem;
    padding-bottom: 2rem !important;
  }
  .features .freature_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .features .freature_wrapper .feature .content h6 {
    font-size: 14px;
  }
  .features .freature_wrapper .feature figure {
    padding: 0.5rem;
  }
  .features .freature_wrapper .feature figure img {
    width: 18px;
    height: 18px;
  }
  .highlights {
    padding: 10px;
  }
  .highlights h2 {
    font-size: 2rem;
  }
  .highlights .highlights_wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 0rem;
  }
  .car-features {
    padding: 10px;
  }
  .car-features h2 {
    font-size: 2rem;
  }
  .car-features .car-feature-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
  }
  .leasing-price {
    display: block;
    padding: 10px !important;
    margin: 0;
  }
  .leasing-price .left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .leasing-price .left h2 {
    font-size: 2rem;
  }
  .leasing-price .right {
    width: 100%;
    grid-template-columns: 1fr !important;
  }
  .leasing-price .right div {
    padding: 1rem;
  }
  section.leasing {
    padding-left: 10px;
    padding-right: 10px;
  }
  section.leasing h2 {
    font-size: 2rem;
  }
  .leasing-card {
    grid-template-columns: 1fr;
    padding: 0 10px !important;
  }
  .leasing-card img {
    width: 90px !important;
  }
  .leasing-card h4 {
    font-size: 1.4rem !important;
  }
  section.content {
    padding: 0 10px;
  }
  section.content h2 {
    font-size: 1.8rem !important;
  }
  section.content p {
    padding: 0 !important;
    line-height: 24px;
  }
  .subscription-work {
    padding: 2rem 10px !important;
  }
  .subscription-work h2 {
    font-size: 1.8rem !important;
  }
  .subscription-work .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .cards_content {
    grid-template-columns: 1fr;
    padding: 0 10px !important;
    margin-top: 3rem;
    margin-bottom: 0 !important;
  }
  .cards_content h2 {
    font-size: 32px !important;
    line-height: 48px;
  }
  .cards_content ._img {
    padding-bottom: 58px !important;
  }
  .order {
    order: 0 !important;
  }
  .contact-us-form {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
  .contact-us-form .form {
    padding: 3rem 1rem;
  }
  .contact-us-form .form div {
    flex-direction: column;
  }
  .contact-us-form .form div ._input {
    width: 100%;
  }
  .contact-us-footer {
    padding: 4rem 10px;
  }
  .contact-us-footer .contact-card {
    grid-template-columns: 1fr;
  }
  .contact-us {
    padding: 8rem 10px;
  }
  .contact-us h2 {
    margin-top: 0;
  }
  .result-notfound h2 {
    font-size: 1.2rem !important;
    line-height: 1.5 !important;
    padding: 1.2rem !important;
  }
  .search {
    padding: 0 10px !important;
  }
  .search .listing {
    padding-left: 0px !important;
    padding: 0;
  }
  .filter-responce {
    margin-top: 2rem;
  }
  .filter-responce h2 {
    font-size: 1.2rem !important;
  }
  .filter-responce .tag {
    padding: 5px 1rem !important;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  main {
    height: 100%;
  }
  main ._content {
    position: relative;
    padding: 10rem 2rem;
  }
  main ._content h1 {
    font-size: 48px;
  }
  main ._content h6 {
    font-size: 20px;
    line-height: 2.2rem;
  }
  main .filter {
    padding: 3rem 10px;
  }
  main .filter .main-slider-wrapper {
    margin: 1.5rem 0;
  }
  main .filter form > div {
    grid-template-columns: 1fr 1fr;
  }
  main .filter .submit.button {
    margin-top: 2rem;
  }
  header .logins_section {
    display: none !important;
  }
  header ul {
    margin-left: 0 !important;
    gap: 0 !important;
    margin-top: 1rem;
  }
  header ul li {
    border-bottom: 1px solid #494949;
    padding: 12px 10px;
  }
  header ul li:last-child {
    border: none;
  }
  .ml-8-per {
    margin-left: 0;
  }
  .slug {
    padding: 10px !important;
  }
  .slug .slider-for img {
    height: 420px !important;
  }
  .slug .main-section-wrapper {
    grid-template-columns: 1fr !important;
    gap: 2rem !important;
    padding: 25px !important;
  }
  .slug .main-section-wrapper .detail-content h5 {
    margin-top: 7px !important;
    font-size: 16px !important;
  }
  .slug .main-section-wrapper .detail-content .info button {
    margin-bottom: 10px;
  }
  .features {
    padding: 10px;
    padding-top: 1rem;
  }
  .features .freature_wrapper {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }
  .features .freature_wrapper .feature .content h6 {
    font-size: 14px;
  }
  .features .freature_wrapper .feature figure {
    padding: 0.5rem;
  }
  .features .freature_wrapper .feature figure img {
    width: 18px;
    height: 18px;
  }
  .highlights {
    padding: 10px;
  }
  .highlights h2 {
    margin-top: 1rem;
  }
  .highlights .highlights_wrapper {
    grid-template-columns: 1fr 1fr !important;
    gap: 2rem !important;
    margin-bottom: 0rem;
  }
  .car-features {
    padding: 10px;
  }
  .car-features .car-feature-wrapper {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
  }
  .leasing-price {
    display: block;
    padding: 10px !important;
    margin: 0;
  }
  .leasing-price .left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .leasing-price .left h2 {
    font-size: 2rem;
  }
  .leasing-price .right {
    width: 100%;
    grid-template-columns: 1fr 1fr !important;
  }
  .leasing-price .right div {
    padding: 1rem;
  }
  section.leasing {
    padding: 0 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  section.leasing h2 {
    font-size: 3rem;
  }
  .leasing-card {
    grid-template-columns: 1fr 1fr;
  }
  section.content p {
    padding: 0 !important;
  }
  .subscription-work .wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .cards_content {
    grid-template-columns: 1fr;
    padding: 0 10px !important;
    margin-top: 3rem;
    margin-bottom: 0 !important;
  }
  .cards_content h2 {
    font-size: 32px !important;
    line-height: 48px;
  }
  .cards_content ._img {
    padding-bottom: 86px !important;
  }
  .order {
    order: 0 !important;
  }
  .contact-us-footer {
    padding: 4rem 10px;
  }
  .contact-us-footer .contact-card {
    grid-template-columns: 1fr 1fr;
  }
  .filter-responce {
    margin-top: 1.5rem;
  }
  .search .listing {
    padding-left: 0rem !important;
    padding: 0;
  }
  .search .listing ._p {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .search .listing {
    padding-left: 1rem !important;
    padding: 0;
  }
  .search .listing ._p {
    padding-left: 0.7rem;
  }
  .filter-responce {
    margin-top: 0rem;
  }
}
@media (min-width: 481px) and (max-width: 680px) {
  .__slider .card-footer {
    flex-direction: column;
  }
  .leasing-price .right {
    width: 100%;
    grid-template-columns: 1fr !important;
  }
  .leasing-price .right div {
    padding: 1rem;
  }
  .leasing-card {
    grid-template-columns: 1fr;
    padding: 0 10px !important;
  }
  .leasing-card img {
    width: 90px !important;
  }
  .leasing-card h4 {
    font-size: 1.4rem !important;
  }
  .subscription-work {
    padding: 2rem 10px !important;
  }
  .subscription-work h2 {
    font-size: 1.8rem !important;
  }
  .subscription-work .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .contact-us-form {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
  .contact-us-form .form {
    padding: 3rem 1rem;
  }
  .contact-us-form .form div {
    flex-direction: column;
  }
  .contact-us-form .form div ._input {
    width: 100%;
  }
  .contact-us {
    padding: 8rem 10px;
  }
  .contact-us h2 {
    margin-top: 0;
  }
}
@media (min-width: 1400px) {
  .home-banner .img {
    margin-left: -180px;
  }
}
@media (main-width: 2000px) {
  .container {
    max-width: 1420px !important;
    width: 100% !important;
    margin: 0 auto;
  }
  .container-right {
    max-width: 1420px !important;
    width: 100% !important;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */